<!--
  Generated template for the PlayerInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{player.first_name}} {{player.last_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label>First Name: </ion-label>
        <ion-input id='first' type='text' [(ngModel)]="player.first_name" title='First Name'></ion-input>
      </ion-item>    
    </ion-col>
    <ion-col>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input id='last' type='text' [(ngModel)]="player.last_name" title="Last Name">{{player.last_name}}</ion-input>  
    </ion-item>   
    </ion-col >
     
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label>Hits: </ion-label>
        <ion-input id='hits' type='text' [(ngModel)]="player.hits"></ion-input>
      </ion-item>    
    </ion-col>
    <ion-col>
    <ion-item>
      <ion-label>At Bats</ion-label>
      <ion-input id='at_bats' type='text' [(ngModel)]="player.at_bats" title="Last Name"></ion-input>  
    </ion-item>   
    </ion-col >
     
  </ion-row>
  
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label>Walks: </ion-label>
        <ion-input id='walks' type='text' [(ngModel)]="player.walks" ></ion-input>
      </ion-item>    
    </ion-col>
    <ion-col>
    <ion-item>
      <ion-label>Doubles:</ion-label>
      <ion-input id='doubles' type='text' [(ngModel)]="player.doubles" ></ion-input>  
    </ion-item>   
    </ion-col >
     
  </ion-row>
  
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label>Triples: </ion-label>
        <ion-input id='triples' type='text' [(ngModel)]="player.triples" ></ion-input>
      </ion-item>    
    </ion-col>
    <ion-col>
    <ion-item>
      <ion-label>Home Runs</ion-label>
      <ion-input id='home_runs' type='text' [(ngModel)]="player.home_run" ></ion-input>  
    </ion-item>   
    </ion-col >
     
  </ion-row>
  
  <button full ion-button color="secondary" (click)="savePlayer()">Save</button> 
</ion-content>
