<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Team" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Players" tabIcon="baseball"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Pitches" tabIcon="baseball-outline"></ion-tab>
</ion-tabs>
