<!--
  Generated template for the Team page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<form [formGroup]="team" (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Team Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
       <p *ngIf="!team.valid && team.touched" danger>Team name can only include letters and numbers</p>
      <button ion-button type="submit" [disabled]="!team.valid">Submit</button>
    </form>
