<!--
  Generated template for the PitchCount page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pitch-count</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div (tap)="itemTapped($event)" class="counter" >
    {{pitches}}
  </div>
</ion-content>
