<!--
  Generated template for the TeamList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
    <ion-item *ngFor="let team of teams" (tap)="itemTapped($event, team)">
      <h1>{{team.name}}</h1>
    </ion-item>
  </ion-list>
  <button full ion-button color="secondary" (click)="createPlayer()">Create Player</button> 

</ion-content>
