<!--
  Generated template for the Player page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Players</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let player of players" (tap)="itemTapped($event, player)">
      <h1>{{player.first_name}}</h1>
      <h2>avg: {{getAverage(player)}} hr: {{player.home_run}} rbi: {{player.rbi}}</h2>
    </ion-item>
  </ion-list>
  <button full ion-button color="secondary" (click)="createPlayer()">Create Player</button> 

</ion-content>
